<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Sidebar Navigation</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <!-- 侧边栏导航 -->
    <div class="sidebar">
        <div class="logo">
            <h2>用户：{{user|safe}}</h2>
        </div>
        <ul class="nav-links">
            <li><a href="/">上传图片</a></li>
            <li><a href="/analysis">分析报告</a></li>
            <li><a href="/about">关于我们</a></li>
        </ul>

        <form action="{{ url_for('apr.logout') }}" method="POST">
            <button type="submit" class="logout-btn">Logout</button>
        </form>    
    </div>

    <!-- 页面内容 -->
    <div class="content">     
        <div class="upload-container">
            <h2>请在此处上传图片</h2>
            <span style="margin: auto;">请上传png、jpeg、jpg格式的算术图片，处理时间约为30s，请耐心等待</span>
            <div class="upload-box">
                <input type="file" id="image-input" style="display: none;">
                <button id = "uploadButton" onclick="document.getElementById('image-input').click();">点击上传图片</button>
            </div>
            <div id="image-container">
                <span id="upload-text" style="color: #0288d1; font-size: 16px; font-weight: bold;">图片区域</span>
                <img id="uploaded-image" src="" alt="Uploaded Image" style="display: none; max-width: 100%; max-height: 100%; object-fit: contain; border-radius: 5px;">
                <div id="loading" style="display: none; text-align: center;">
                    <p class="dots">正在加载<span id="dots">.</span></p>
                </div>
            </div>
            <button id = "submit" style = "display: none;">提交</button>
        </div>
        <div class="new-section" id="new-section">
        </div>
    </div>

    <script>
        // 上传图片
        document.getElementById('image-input').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                document.getElementById('loading').style.display = 'block';
                document.getElementById('upload-text').style.display = 'none'; // 隐藏原来的文本
                const img = document.getElementById('uploaded-image');
                img.style.display = 'none';

                const formData = new FormData();
                formData.append('image', file);
                fetch('/upload_image', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(error => {
                            throw new Error(error.error);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    const url = data.imageUrl;
                    const img = document.getElementById('uploaded-image');
                    const newContent = data.result_html;
                    const contentContainer = document.getElementById('new-section');
                    contentContainer.innerHTML = newContent;
                    img.src = 'data:image/png;base64,' + url;
                    img.style.display = 'block';
                    document.getElementById('upload-text').style.display = 'none';
                    document.getElementById('loading').style.display = 'none';
                    document.getElementById('submit').style.display = 'block';
                })
                .catch(error => {
                    alert('上传失败: ' + error.message);
                });
            }
        });

        function callPythonFunction(imageName,user,button) {
                console.log('Python function called for ' + imageName);
                
                // 隐藏当前按钮
                button.style.display = 'none';
                
                fetch('/call_python_function', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({  image_name: imageName, user: user })
                })
                .then(response => response.json())
                .catch(error => console.error('Error:', error));
            }

            //提交,批改后总结生成his数据
            document.getElementById('submit').addEventListener('click', function(event) {
                event.preventDefault();  // 阻止表单提交

                fetch('/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({})  // 这里没有传递user数据
                })
                .then(response => response.json())  // 解析响应为JSON
                .then(data => {
                    console.log('服务器响应:', data);
                    document.getElementById('submit').style.display = 'none';
                })
                .catch(error => {
                    console.error('请求出错:', error);
                });
            });
    </script>
    
</body>
</html>
